<div class="container-fluid">
  <section class="white-section">
    <div class="row">
  <h1>Escape the Game!</h1>
  <p>You can view the original and so far unimproved Java version on GitHub <a href="https://github.com/RBrasovan/Escape-the-Text-Game" target="_blank">here</a>. Escape was my final project when I took a Java course at college and its inspiration came from lab project(s) from a Data Structures course (shout out to Prof. Reese). Note: Never take a data structures course when you only know C (shout out to Prof. Reese again) because you will WANT TO DIE. Java was the language that got coding to "click" for me so it has a special place in my heart (thanks Dr. T!).</p>
  <p>Jokes on you Prof. Reese. You can't submit a null value if you can't submit.</p>
  <p>But anyways, below is a graph for if it's completed here yet. If it isn't, you can at least try and cause a bunch of errors if you want. Breaking code is always fun, right?</p>
</div>
</section>
<section id="game-section" class="dark-section">
  <div class="row">
    <app-game style="width: 100%;"></app-game>
  </div>
</section>
</div>
