#gameArea {
  background-color:#fff;
  height: 300px;
  overflow: scroll;
}
.form-control {
  display: inline-block;
}
.input {
  width:50%;
  margin:20px 0px;
}
.btn {
  display:inline-block;
  margin:0px 40px;
}
