<nav class="navbar navbar-expand-xl navbar-light bg-dark">
  <a id="logo-image" class="navbar-brand" href="#"><img src="assets/home/RachaelBrasovan-logo-WEB.png" width="125px" height="auto"></a>
  <a id="logo-text" class="navbar-brand" href="#">Playground</a>
  <button class="navbar-toggler navbar-dark bg-dark" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto mt-auto white-background">
      <li class="nav-item"> <a class="nav-link text-muted" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Home</a></li>
        <li class="nav-item"> <a class="nav-link text-muted" routerLink="/bootstrap-ship" routerLinkActive="active">Bootstrap Pirate Ship</a></li>
      <li class="nav-item"> <a class="nav-link text-muted" routerLink="/escape" routerLinkActive="active">Escape the Game</a></li>
      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Up and Coming</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-muted" href="#">Website Stuff</a>
          <a class="dropdown-item text-muted" href="#">Games</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-muted" href="#">Art</a> </div>
      </li>
    </ul>
  </div>
</nav>
