<div class="container-fluid">
  <section class="blue-section">
    <div class="row">
      <div class="col-12 col-md">
        <h1>What's the point in new skills if you can't have fun?...</h1>
        <p>My name is Rachael Brasovan and welcome to my playground. Poke around, have fun. Someday I'll finish recreating Escape - my text based game - in Angular. If you go to the page and it's on there then awesome, that just means I need to update this homepage. I'll be putting a bunch of random, private projects on here as I get inspiration through my job and through other games and passions.
        </p>
        <img class="left-img" src="assets/home/Ari-self.png" width="150px" height="auto">
        <h3>A little about me</h3>
        <p>I am an advid beer enjoyer and homebrewer, I have a sassy redheaded mare named Classy, got a BS in Digital Media: Technology and got a double minor in computer science and mathematics for kicks, I have way too many projects I want to do, love my job, if you wanna know something else lemme <a (click)="needsUpdate()">know</a>.</p>
        <p>Ari is my playground mascot and coding buddy. She's way smarter than me which is why she has glasses. Granted, I have glasses too, but she pulls them off better. You'll see her pop up randomly as you go through the pages. At least she should if I have everything coded right (which I don't).
        </p>
      </div>
    </div>
    </section>
      <section class="dark-section">
        <div style="width:60%; margin: 50px auto;">
          <h3>Pirate Booty</h3>
          <p>The bootstrap pirate ship project came to be born when I was learning about bootstrap. Bootstrap reminds me of pirates, so thus the pirate theme. I want to add more easter eggs to it, but for now it shall stay is it is. Feel free to click the buttons. You might get a laugh out of one of them...</p>
        </div>
      </section>
        <section class="white-section">
          <div class="row">
            <div class="col-12 col-md">
        <h3>Things to do:</h3>
        <div class="row" style="padding: 5% 10%;">
          <div class="col-md">
            <h5 style="text-align: center;">Create Escape the game on here</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-md">
            <h5 style="text-align: center;">Make 3D game with friend</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-md">
            <h5 style="text-align: center;">Finish <a href="https://www.udemy.com/course/the-ultimate-digital-painting-course-beginner-to-advanced" target="_blank">this</a> digital grawing course</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
